.custom-navbar {
  background-color: #f8f9fa; /* Example background color */
}

.icicilogo {
  max-width: 100%;
  height: auto;
}

.custom-nav .separator {
  color: #000; /* Example color */
}

.orange-button {
  color: #fff;
  background-color: #ff5e00; /* Orange button color */
  border-color: #FFA500;
}

@media (max-width: 992px) {
  .custom-nav {
    text-align: center;
  }

  .separator {
    display: none;
  }

  .orange-button {
    margin-top: 10px;
  }
}