.home-page {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
  }
  
  .logo {
    height: 30px; /* Adjust the height as needed */
    width: auto;  /* Maintain aspect ratio */
  }
  
  .logout-btn {
    margin-right: 10px;
  }
  
  .box-style {
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
  }
  
  .ucc-input {
    width: 100%; /* Full width within the form */
    background-color: #ffedd5;
    margin-bottom: 20px;
  }
  
  .submit-btn {
    background-color: orange;
    border-color: orange;
    padding: 5px 20px; /* Adjust padding for a smaller button */
    font-size: 14px; /* Adjust font size for a smaller button */
  }
  
  